<div class="container">
  <nav (onDate)="getDataFromServer($event)">
    <nav-item itemTitle="TODAY"></nav-item>
    <nav-item itemTitle="TOMORROW"></nav-item>
    <nav-item itemTitle="{{theDayAfterTomorrowDate}}"></nav-item>
  </nav>
  
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Program</th>
        <th>Time</th>
        <th>Instructor</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let class of sheduleData | filter: filter || querySerach">
        <td>{{class.class_type_name}}</td>
        <td>{{class.appt_start_tm | time}} - {{class.appt_end_tm | time}}</td>
        <td>{{class.instructor_name}}</td>
        <td>{{class.resource_name}}</td>
      </tr>
    </tbody>
  </table>
</div>